################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SyncDataAPI/appsettings.json
/SyncDataAPI/obj/Debug/net5.0/staticwebassets
/SyncDataAPI/obj/Debug/net5.0
/SyncDataAPI/obj
/SyncDataAPI/bin/Debug/net5.0
/SyncDataAPI/.vs/SyncDataAPI
/SyncDataClientToken/bin/Debug/net5.0
/SyncDataClientToken/appsettings.json
/SyncDataClientToken/.vs/SyncDataClientToken
/SyncDataClientToken/obj
/SyncDataAPI/Properties
/SyncDataAPI/bin/Release/net5.0
/SyncDataAPI/.config
